<%- include('partials/headerAuth') %>

<body>
<div id="preloader">
    <div class="rotate">
        <img src="css/svgs/basketball.svg" id="loading-svg" alt="icon">
    </div>
</div>

<div class="home-page">
    <div class="home-all-content">
        <div class="circular-logo">
            <h1 >MML</h1>
        </div>
        
        <div class="login-choice">
            <a href="/register" >REGISTER</a>
            <a href="/login">LOGIN</a>    
        </div>
        
    </div>
</div>




<%- include('partials/footerAuth') %>