.movie-container{
    /*border: 1px solid #d2ff00;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.input{
    position: relative;
    top: 10px;
    height: 40px;
    width: 220px;
    outline: none; 
    box-shadow: none;
    padding: 0;
    margin: 0; 
    text-decoration: none;
    color: #d2ff00;
    text-align: center;
    background: #171a09;
    font-size:larger;
    transition: background 0.3s ease, color 0.3s ease;
}
.input:hover{
    background: #d2ff00;
    color: #000;
    transition:  color 0.7s ease, background 0.7s ease;
}