@font-face {
    font-family: "Corpta";
    src: url(fonts/Corpta.otf) format('opentype');
}

/* preloader start */

#preloader {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #d2ff00; /*  background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  text-align: center;
  color: #000;
}
#loading-svg{
    transform: scale(0.1);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.rotate{
    animation: spin 1.5s linear infinite;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MAIN CONTENT HIDDEN UNTIL LOADED */

.hidden {
  display: none;
}
/* preloader end */


* {
    font-family: 'Corpta', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#171a09;
}
.navbar{
    background-color: #d2ff00;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 0px 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    transition: transform 0.5s ease-in-out;
    z-index: 4;
}   
.navbar--hidden {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;

}
.grid-class{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    padding: 40px;
    align-items: start;
    width: 90%;
    margin:0 auto;
    margin-top: 70px;
    border-radius: 12px;
    color: #d2ff00;
}

.movie-container h3{
  padding-top: 5px;
  height: 1.57em;
  width: 220px;
  overflow: hidden;
  text-align: center;
}


.navbar button{
  padding: 8px 14px;
  border-radius: 6px;
  border: 2px solid #171a09;

  text-decoration: none;
  color: #171a09;
  text-align: center;
  background:#d2ff00; 
  font-size:larger;
  transition: background 0.3s ease, color 0.3s ease;
}

.navbar button:hover{
  background: #000;
  color: #d2ff00;
  transition:  color 0.7s ease, background 0.7s ease;
}

.navbar input{
  padding: 8px 14px;
  border-radius: 6px;
  border: 2px solid #171a09;
  text-decoration: none;
  color: #171a09;
  text-align: center;
  background:#d2ff00; 
  font-size:larger;
  transition: background 0.3s ease, color 0.3s ease;
}

.navbar input[type="submit"]:hover{
  background: #000;
  color: #d2ff00;
  transition:  color 0.7s ease, background 0.7s ease;
}


