@font-face {
    font-family: "Corpta";
    src: url(fonts/Corpta.otf) format('opentype');
}

/* preloader start */

#preloader {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #d2ff00; /*  background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  text-align: center;
  color: #000;
}
#loading-svg{
    transform: scale(0.1);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.rotate{
    animation: spin 1.5s linear infinite;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* preloader end */

* {
    font-family: 'Corpta', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#171a09;
}
a{
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-decoration: none;
    color: #d2ff00;
    text-align: center;
    height: 40px;
    width: 120px;
    background: #171a09;
    font-size:larger;
    transition: background 0.3s ease, color 0.3s ease;
}

a:hover{
    background: #d2ff00;
    color: #000;
    transition:  color 0.7s ease, background 0.7s ease;
}
.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.home-all-content{
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /*background: blue;*/
}
.circular-logo{
    background: #d2ff00;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-choice{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.form-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input-button{
    position: relative;
    top: 10px;
    border: 1px solid #d2ff00;
    outline: none; 
    box-shadow: none;
    padding: 0;
    margin: 0; 
    /**/
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-decoration: none;
    color: #d2ff00;
    text-align: center;
    height: 50px;
    width: 320px;
    background: #171a09;
    font-size:larger;
    transition: background 0.3s ease, color 0.3s ease;
}
.input-button:hover{
    background: #d2ff00;
    color: #000;
    transition:  color 0.7s ease, background 0.7s ease;
}
.input{
    height: 30px;
    border: none;
    outline: none; 
    box-shadow: none;
    background: #d2ff00;
    color: #171a09;
    text-align: center;
    width: 320px;
}
.input::placeholder{
    color: #171a09;
}